
/*header*/
header {
	padding: 20px 0;
}
.justify-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 100px;
}
.logo img{
	width: 100%;
}
.nav-ul{
	display: flex;
}
.nav-li{
	margin-right: 10px;
}
.nav-li {
	color:#3D58A6;
	font-size: 24px;
}

/*section */
.section-banner {
	background-color: #E6E6E6;
}
.section-news {

}
.section-features {
	height: 400px;
	background-color: #D3D3D3;
}
.wrapper{
	width: 270px;
	height: 270px;
	padding: 0px 50px;
}
.bg {
	width: 270px;
	height: 210px;
}
.icon {
	height: 100px;
}
/*.bg-img {
	background-image: url(../img/banner-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
}*/
.flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.display-inline {
	display: inline-block;
}
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 20px 0;
}
.container-ul {
	padding: 15px 0px 0px 50px;
	font-size: 24px;
	text-decoration: bold;
}
.container-li::after{
	content: "";
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: white;
	margin: 0 10px;
}
.second-li::after {
	content: "";
	display: none;
}
.bg-blue {
	background-color: blue;
}
.bg-gray {
	height: 450px;
	background-color: #BDCCD4;
}
.font-black {
	font-size: 24px;
	color: black;
}
.font-white {
	color: white;
}
.font-blue {
	color: blue;
}
.div-boxes {
	padding: 30px 100px 90px 100px;
}
.div-boxes:first-child {
	margin-right: 30px;
}
.box {
	padding: 15px 0;
	height: 320px;
	width: 470px;
	text-align: center;
	line-height: 150px;
	background-color: white;
	padding: 90px 100px;
	font-size: 14px;
}
.box p {
	margin-left: 15px;
}
.section {
	background-color: grey;
}
.typo-img {
	background-image: url(../img/typography.svg);
	background-repeat: no-repeat;
}
.online-img {
	background-image: url(../img/online.svg);
	background-repeat: no-repeat;
}
.coding-img {
	background-image: url(../img/coding.svg);
	background-repeat: no-repeat;
}
.interface-img {
	background-image: url(../img/interface.svg);
	background-repeat: no-repeat;
}
.box-icon {
	padding: 30px 20px 30px 50px;
}
.icon {
	height: 100px;
}
.box p {
	margin-left: 15px;
}
.container p {
	margin-left: 10px;
	margin-top: 10px;
}
